{{! ADD AUTHOR SOCIAL LINKS HERE }}
{{! THESE SOCIAL LINKS WILL APPEAR IN THE PAGE SIDEBAR }}
{{! REMOVE ANY UNWATED LINKS }}

{{! TWITTER }}
<a href="http://twitter.com/gshackles" target="_blank" class="social social_outline twitter"><i class="fa fa-twitter"></i></a>

{{! GITHUB }}
<a href="http://github.com/gshackles" target="_blank" class="social social_outline github"><i class="fa fa-github"></i></a>

{{! LINKEDIN }}
<a href="https://www.linkedin.com/in/gshackles" target="_blank" class="social social_outline linkedin"><i class="fa fa-linkedin"></i></a>

{{! GOOGLE+ }}
<a href="https://plus.google.com/u/1/+GregShackles/" target="_blank" class="social social_outline google"><i class="fa fa-google-plus"></i></a>

{{! INSTAGRAM }}
<a href="http://instagram.com/gshackles" target="_blank" class="social social_outline instagram"><i class="fa fa-instagram"></i></a>

{{! RSS - LEAVE DEFAULT }}
<a href="{{@blog.url}}/rss/" target="_blank" class="social social_outline rss"><i class="fa fa-rss"></i></a>

<div class="social-extras">
	<a href="http://gonemobile.io">
    	<img src="/content/images/gonemobile.png" />
	</a>

	<br />

    <a href="http://xamarin.com/mvp">
    	<img src="/content/images/xamarin-mvp.png" />
	</a>

	<a href="http://shop.oreilly.com/product/0636920024002.do">
    	<img src="/content/images/book.jpg" />
	</a>

	<br />

    <a href="http://nycmobiledev.net">
    	<img src="/content/images/nycmobile.png" />
	</a>
</div>